In [55]:
import sys
import pandas as pd
import numpy as np
import datetime
import math
import requests
import json

print("System version: {}".format(sys.version))

System version: 3.7.13 (default, Mar 29 2022, 02:18:16)
[GCC 7.5.0]

In [3]:
df_genome_scores = pd.read_csv('ml-25m/genome-scores.csv')
df_genome_tags = pd.read_csv('ml-25m/genome-tags.csv')
df_links = pd.read_csv('ml-25m/links.csv')
df_movies = pd.read_csv('ml-25m/movies.csv')
df_ratings = pd.read_csv('ml-25m/ratings.csv')
df_tags = pd.read_csv('ml-25m/tags.csv')

In [4]:
df_genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [5]:
df_genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [6]:
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [9]:
df_tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [34]:
print(f"Movies: {df_movies.shape}")
print(f"Links: {df_links.shape}")

Movies: (62423, 3)
Links: (62423, 3)

In [36]:
df = df_movies.set_index('movieId').join(df_links.set_index('movieId'))
print(f"Dataframe: {df.shape}")

Dataframe: (62423, 4)

In [38]:
df.reset_index(inplace=True)
df.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0

In [44]:
def getImage(imdb_id):
    """
    """
    import requests
    from bs4 import BeautifulSoup
    import numpy as np
    from IPython.core.display import clear_output

    images = []

    i = imdb_id
    
    r = requests.get(i)
    soup = BeautifulSoup(r.content, "html.parser")
    try:
        image_url = page_html.find('div', class_='poster').img['src']
    except:
        image_url = np.nan
    images.append(image_url)
    print(image_url)
    clear_output(wait=True)

    return images

In [50]:
print(df.isnull().sum())
df = df.dropna()

movieId      0
title        0
genres       0
imdbId       0
tmdbId     107
dtype: int64

In [51]:
print(df.isnull().sum())

movieId    0
title      0
genres     0
imdbId     0
tmdbId     0
dtype: int64

In [54]:
df["tmdbId"].astype("int")
df.shape

(62316, 5)

In [58]:
# movie images
TMDB_API_KEY = "04cf4923250021dc3a9f01c4e0acf2ae"
tmdb_id = 862 # Toy Story
image_prefix = "test_"
response = requests.get("https://api.themoviedb.org/3/movie/{tmdb_id}/images?api_key={TMDB_API_KEY}")
images = json.parse(response.body)

# this returns full size images by default (use a smaller image if possible)
# it is recommend to check the language and image size to work best in your app
poster = image_prefix + 'original' + images['posters'].first['file_path']
fanart = image_prefix + 'original' + images['backdrops'].first['file_path']

ConnectionError: HTTPSConnectionPool(host='api.themoviedb.org', port=443): Max retries exceeded with url: /3/movie/%7Btmdb_id%7D/images?api_key=%7BTMDB_API_KEY%7D (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f5dba469bd0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))